<h2>Authors catalogue</h2>

<div>
  <% if current_user && current_user.librarian %>
    <p>
      <%= link_to "Add new author", new_author_path, class:"btn btn-danger" %>
    </p>
  <% end %>
  <p>
    <h3>Find an author</h3>
    <%= form_tag({controller: "search", action: "search_authors"}, method: "post", class:"form", role: "search") do %>
      <div class="row">
			  <div class="form-group col-md-3">
    		  <label for="name">Name</label>
    		  <input type="text" class="form-control" name="name" placeholder="Name">
  		  </div>
      </div>
			<button type="submit" class="btn btn-default">Search</button>
    <% end %>
  </p>
</div>

