<h2><%= @user.name %></h2>

Email: <%= @user.email %>
<div>
  <% if @user.reader %>
    <h3>Reader's account</h3>
    Card code: <%= @user.reader.card_code %>
  <% else %>
    <%= link_to "Add reader's account", controller: 'readers', action: 'new', id: @user %>
  <% end %>
</div>
