<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Expired borrow</h1>
    <p>Your borrow of book with ISBN <%= @borrow.publication.ISBN %> has expired!
        Please, return the book to the library as soon as possible or else you will be fined!
    </p>
  </body>
</html>
